html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(#CAD6D6, #95A3A3);
  font-size: 2rem
}

.navegacion,
footer {
  font-size: 1.5rem;
}
  
  .btn {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: rgba(33, 37, 41, 0.95);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
  }

  .text-input {
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5em;
    max-width: 500px;
    max-width: 100%;
    width: auto;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2rem;
    text-align: center;
  }

.titulo {
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 50px;
  margin-bottom: 75px;
  font-weight: bold;
}

.tablero-canvas-h {
  height: 100vh;
}
  

.canvas {
    display: none;
}

#canvas {
    margin: 100px auto;
    margin-top: 50px;
}

.div {
  width: 1334px;
  height: 944px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-off {
  display: none;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.reglas {
  text-align: center;
  background: rgb(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);
  font-size: 1.8rem;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 200px;
}

.item-lista {
  list-style: none;
  margin: 3rem auto;
  padding: 1rem auto;
}

#tablero-canvas {
  text-align: center;
  margin-top: 50px;
}

.link-parrafo {
  color: black;
}

#span-error {
  margin-top: 0;
  height: 45px;
}

.mensaje-error {
    color: #d63031;
    font-size: 1.8rem;
}

.mensaje-correcto {
  color: green;
  font-size: 1.8rem;
}

.display-none {
  display: none;
}

@media (max-width: 1280px) {
  #canvas {
    width: 100%;
    height: 100%;
  }

  #tablero-canvas {
    width: 90%;
    height: 90%;
    text-align: center;
    margin: 70px auto;
    margin-top: 200px;
    margin-bottom: 300px;
  }

  .reglas {
      margin-top: 200px;
    }
}